@{
    ViewData["Title"] = "Ranking Quake Log Parser";
}

<div id="text-center" class="text-center">
    <h1 class="display-4">RANKING</h1>
    <span>Clique para visualizar o ranking <button onclick="showRanking()">Ranking</button>.</span>
    <div id="body"></div>
</div>
