@{
    ViewData["Title"] = "Estatisticas Quake Log Parser";
}

<div id="text-center" class="text-center">
    <h1 class="display-4">ESTATISTICAS</h1>
    <span>Clique para visualizar as estátisticas por jogo <button onclick="showData()">Estatisticas por Jogo</button>.</span>
    <div id="body"></div>
</div>
