@{
    ViewData["Title"] = "Quake Log Parser";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo(a) ao painel Quake Log Parser</h1>
    <span>Clique para visualizar as estátisticas por jogo <button onclick="showData()">Estatisticas por Jogo</button>.</span>
</div>
