html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#body .estilo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.quad {
    border: solid 1px black;
}

.inp {
    width: 20%;
}

.espacamento{
    margin-top: 3%
}

.inp1 {
    width: 70%;
}